@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Fira sans",sans-serif;
}
body{
  background:#91D8E4;
}
.container{
  margin: 120px auto;
  max-width: 500px;
  padding:25px;
  background: #2DCDDF;
  border-radius:5px;
}
.heading{
  padding:20px;
}
.inputField input{
  width:80%;
  height:100%;
  border:0.5px solid #CCC;
  border-radius:2px;
  padding: 10px;
  margin-top: 5px;
  font-size:20px;
}
.inputField button{
  width:60px;
  height:100%;
  background:#6C00FF;
  border-none;
  outline:none;
  color: #fff;
}
.listElements{
  font-family: 'Merriweather', serif;
  list-style:circle;
  height: 30px;
  line-height: 35px;
  position:relative;
  background: #f2f2f2;
  border-radius:3px;
  margin-bottom: 20px;
  padding: 0 15px;
}
